$red: #b35d5d;


/*
  1. padding slider and container
  2. slowly fade item slider
  3. Header Works do image
  4. z-index
  5. change view social post
*/



/*Animate*/

.visible{
  visibility: visible;
  opacity: 1;
}

.hidden{
  opacity: 0;
  visibility: hidden;
}

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.animated.infinite {
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}


@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.fadeInUp {
  animation-name: fadeInUp;
}


@keyframes slideInLeft {
  from {
    transform: translate3d(-100%, 0, 0);
    visibility: visible;
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}

.slideInLeft {
  animation-name: slideInLeft;
}





/*Variables*/

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: 'Fira Sans Condensed';
  margin: 0;
  background: #f6f6f6;
}

p {
  line-height: 150%;
}

ul {
  padding-left: 0;
  list-style: none;
}

.slick-slider * {
  outline: none;
}

.container {
  display: block;
  margin: 0 auto;
  width: 100%;
  max-width: 1350px;
  padding: 0 15px;
}

.slick-dotted.slick-slider {
  margin-bottom: 0 !important;
}

.typed-cursor {
  display: none;
}

/* =======================
          Header
========================== */

.header {
  background-color: #fff;
}

.header__icon {
  font-size: 25px;
  display: none;
}

.header .logo__link {
  display: inline-block;
  height: 100%;
}

.header .logo {
  height: 100%;
  padding-left: 25px;
}

.header__inner {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 15px;
}

.header__title {
  font-size: 35px;
  font-weight: 100;
  height: 40px;
  color: #515151;
  -webkit-flex-basis: 40%;
  -ms-flex-preferred-size: 40%;
  flex-basis: 40%;
}

.header__fixed {
  position: fixed;
  top: -100%;
  left: 0;
  width: 100%;
  margin: 0;
  -webkit-box-shadow: 0 0 12px -1px rgba(0, 0, 0, .5);
  box-shadow: 0 0 12px -1px rgba(0, 0, 0, .5);
  -webkit-transition: .6s all;
  -o-transition: .6s all;
  transition: .6s all;
  z-index: 10;
}

.header__fixed.active {
  top: 0;
}

.header__fixed .header__inner {
  padding: 0;
}

.nav {
  -webkit-flex-basis: 60%;
  -ms-flex-preferred-size: 60%;
  flex-basis: 60%;
  background-color: #fff;
  z-index: 20;
  -webkit-transition: .5s all;
  -o-transition: .5s all;
  transition: .5s all;
}

.nav.show {
  opacity: 1;
  visibility: visible;
  top: 0;
  z-index: 20;
}

.nav__cross {
  position: absolute;
  top: 20px;
  right: 20px;
  color: #515151;
  font-size: 30px;
  display: none;
}

.nav__list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  list-style: none;
  padding: 0;
}

.nav__item {
  font-size: 26px;
  padding: 10px 25px;
  text-decoration: none;
  color: #999;
  -webkit-transition: .3s all;
  -o-transition: .3s all;
  transition: .3s all;
  cursor: pointer;
}

.nav__item:hover {
  color: $red;
}

/* =======================
        About Me
========================== */

.about-me {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  color: #fff;
  position: relative;
}

.about-me__img{
  width: 100%;
  min-height: 900px;
  background: transparent;
}

.about-me__slider {
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0;
}

.about-me__slider img {
  width: 100%;
  height: 100vh;
}

.about-me__desc {
  z-index: 8;
}

.about-me__text {
  font-size: 30px;
  width: 90%;
  max-width: 550px;
  text-align: center;
}

/* =======================
          Works
========================== */

.works {
  margin-bottom: 40px;
}

.works .works__text {
  display: none;
}

.works__title {
  margin: 50px auto;
  display: block;
}

.works__represent {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.works__item {
  -webkit-flex-basis: 23%;
  -ms-flex-preferred-size: 23%;
  flex-basis: 23%;
  margin: 10px 1%;
  cursor: pointer;
  overflow: hidden;
  -webkit-box-shadow: 0 1px 4px -1px rgba(0, 0, 0, .25);
  box-shadow: 0 1px 4px -1px rgba(0, 0, 0, .25);
  padding: 0;
}

.works__item:hover img {
  -webkit-transform: scale(1.1) rotate(-3deg);
  -ms-transform: scale(1.1) rotate(-3deg);
  transform: scale(1.1) rotate(-3deg);
}

.works__img {
  width: 100%;
  -webkit-transition: .5s all;
  -o-transition: .5s all;
  transition: .5s all;
}

.social-link {
  list-style: none;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 70px auto 0;
}

.social-link__icon {
  text-decoration: none;
  position: relative;
  top: 0;
  color: #515151;
  margin: 10px 15px;
  font-size: 35px;
  -webkit-transition: .3s all ease-in-out;
  -o-transition: .3s all ease-in-out;
  transition: .3s all ease-in-out;
}

.social-link__icon:hover {
  color: $red;
  top: -10px;
}

/* =======================
         Footer
========================== */

.footer {
  background: #f6f6f6;
  padding: 50px 0 0;
}

.slick-slider .slick-track, .slick-slider .slick-list { height: 100%; }

.social-post {
  padding: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin: 0;
}

.social-post__overlay {
  opacity: 1;
  visibility: visible;
  z-index: 5;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, .4);
  -webkit-transition: .6s all;
  -o-transition: .6s all;
  transition: .6s all;
}

.social-post__text {
  opacity: 0;
  visibility: hidden;
  text-align: center;
  background-color: rgba(0, 0, 0, .6);
  margin: 0;
  position: absolute;
  bottom: 0;
  width: 100%;
  color: #fff;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-decoration: none;
  -webkit-transition: .6s all;
  -o-transition: .6s all;
  transition: .6s all;
  max-height: 70px;
  overflow: hidden;
  padding: 10px 15px;
}

.social-post__text p {
  word-wrap: break-word;
  width: 100%;
  padding: 10px;
}

.social-post__item {
  -webkit-flex-basis: 15%;
  -ms-flex-preferred-size: 15%;
  flex-basis: 15%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.social-post__item:hover .social-post__text {
  opacity: 1;
  visibility: visible;
}

.social-post__item:hover .social-post__overlay {
  opacity: 0;
  visibility: hidden;
}

.social-post__img {
  width: 100%;
}

.contact {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: relative;
  margin-top: 10px;
}

.contact__row {
  margin: 7px 0;
}

.contact__text {
  font-size: 20px;
}

.contact__link {
  font-size: 20px;
  text-decoration: none;
  color: #555;
  margin: 0 10px;
  -webkit-transition: .3s all;
  -o-transition: .3s all;
  transition: .3s all;
  color: $red;
  position: relative;
}


/* =======================
         View Modal
========================== */

.view-modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #fff;
  z-index: 100;
  width: 100%;
  height: 100%;
  overflow-y: auto;
}

.view-modal a {
  z-index: 30;
  position: relative;
}

.view-modal__arrow {
  width: 50%;
  z-index: 25;
  position: absolute;
  font-size: 25px;
  color: #ccc;
  top: 0;
  padding: 0 60px;
  cursor: pointer;
  height: 100vh;
  line-height: 100vh;
  background-color: transparent;
}

.view-modal__arrow-left {
  left: 0;
  text-align: left;
}

.view-modal__arrow-right {
  right: 0;
  text-align: right;
}

.view-modal__cross {
  z-index: 30;
  position: absolute;
  top: 25px;
  right: 40px;
  font-size: 25px;
  color: #ccc;
  cursor: pointer;
  padding: 20px;
}

.view-modal__img-wrapp {
  height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.view-modal__img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
  max-height: 100%;
}

.view-modal__desc {
  position: relative;
  z-index: 20;
  padding: 20px;
  width: 100%;
  max-width: 900px;
  margin: 10px auto 0;
  font-size: 20px;
  line-height: 1.5;
}

.view-modal__desc img {
  max-width: 100%;
  height: auto;
}

/*==============================
         PRELOADER
================================*/

.loader {
  z-index: 100;
  background-color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  opacity: 1;
  visibility: visible;
  -webkit-transition: 1s all;
  -o-transition: 1s all;
  transition: 1s all;
}

.loader.done {
  opacity: 0;
  visibility: hidden;
}

.loader-inner {
  display: inline-block;
}

@-webkit-keyframes rotate_pacman_half_up {
  0% {
    -webkit-transform: rotate(270deg);
    transform: rotate(270deg);
  }

  50% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }

  100% {
    -webkit-transform: rotate(270deg);
    transform: rotate(270deg);
  }
}

@keyframes rotate_pacman_half_up {
  0% {
    -webkit-transform: rotate(270deg);
    transform: rotate(270deg);
  }

  50% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }

  100% {
    -webkit-transform: rotate(270deg);
    transform: rotate(270deg);
  }
}

@-webkit-keyframes rotate_pacman_half_down {
  0% {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
  }

  50% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
  }
}

@keyframes rotate_pacman_half_down {
  0% {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
  }

  50% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
  }
}

@-webkit-keyframes pacman-balls {
  75% {
    opacity: .7;
  }

  100% {
    -webkit-transform: translate(-100px, -6.25px);
    transform: translate(-100px, -6.25px);
  }
}

@keyframes pacman-balls {
  75% {
    opacity: .7;
  }

  100% {
    -webkit-transform: translate(-100px, -6.25px);
    transform: translate(-100px, -6.25px);
  }
}

.pacman {
  position: relative;
}

.pacman > div:nth-child(2) {
  -webkit-animation: pacman-balls 1s -.99s infinite linear;
  animation: pacman-balls 1s -.99s infinite linear;
}

.pacman > div:nth-child(3) {
  -webkit-animation: pacman-balls 1s -.66s infinite linear;
  animation: pacman-balls 1s -.66s infinite linear;
}

.pacman > div:nth-child(4) {
  -webkit-animation: pacman-balls 1s -.33s infinite linear;
  animation: pacman-balls 1s -.33s infinite linear;
}

.pacman > div:nth-child(5) {
  -webkit-animation: pacman-balls 1s 0s infinite linear;
  animation: pacman-balls 1s 0s infinite linear;
}

.pacman > div:first-of-type {
  width: 0;
  height: 0;
  border-right: 25px solid transparent;
  border-top: 25px solid #515151;
  border-left: 25px solid #515151;
  border-bottom: 25px solid #515151;
  -webkit-border-radius: 25px;
  border-radius: 25px;
  -webkit-animation: rotate_pacman_half_up .5s 0s infinite;
  animation: rotate_pacman_half_up .5s 0s infinite;
  position: relative;
  left: -30px;
}

.pacman > div:nth-child(2) {
  width: 0;
  height: 0;
  border-right: 25px solid transparent;
  border-top: 25px solid #515151;
  border-left: 25px solid #515151;
  border-bottom: 25px solid #515151;
  -webkit-border-radius: 25px;
  border-radius: 25px;
  -webkit-animation: rotate_pacman_half_down .5s 0s infinite;
  animation: rotate_pacman_half_down .5s 0s infinite;
  margin-top: -50px;
  position: relative;
  left: -30px;
}

.pacman > div:nth-child(3),
.pacman > div:nth-child(4),
.pacman > div:nth-child(5),
.pacman > div:nth-child(6) {
  background-color: #515151;
  width: 15px;
  height: 15px;
  -webkit-border-radius: 100%;
  border-radius: 100%;
  margin: 2px;
  width: 10px;
  height: 10px;
  position: absolute;
  -webkit-transform: translate(0, -6.25px);
  -ms-transform: translate(0, -6.25px);
  transform: translate(0, -6.25px);
  top: 25px;
  left: 70px;
}
