

/* Large Devices, Wide Screens */

/* Medium Devices, Desktops */

/* Small Devices, Tablets */

/* Extra Small Devices, Phones */

/* Custom, iPhone Retina */

@media only screen and (max-width: 992px) {
  .view-modal__img-wrapp {
    height: auto;
  }
}

@media only screen and (max-width: 768px) {

  .view-modal__img {
    height: auto;
  }

  .works__item {
    -webkit-flex-basis: 31.3333333%;
    -ms-flex-preferred-size: 31.3333333%;
    flex-basis: 31.3333333%;
  }

  .nav {
    opacity: 0;
    visibility: hidden;
    position: fixed;
    left: 0;
    top: 20px;
    width: 100%;
    height: 100%;
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .nav__list{
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    text-align: center;
  }

  .nav__item{
    font-size: 40px;
    padding: 17px 25px;
  }

  .nav__cross{
    display: block;
  }

  .header__icon {
    display: block;
  }

  .about-me__text {
    font-size: 20px;
    margin: 0 auto;
  }

  .view-modal__arrow {
    padding: 0 10px;
  }
}

@media only screen and (max-width: 480px) {
  .about-me__img{
    min-height: 40vh;
  }
  .works__item {
    -webkit-flex-basis: 48%;
    -ms-flex-preferred-size: 48%;
    flex-basis: 48%;
  }

  .view-modal__cross {
    right: 5px;
    top: 5px;
  }
}

@media only screen and (max-width: 320px) {
  .works__item {
    -webkit-flex-basis: 98%;
    -ms-flex-preferred-size: 98%;
    flex-basis: 98%;
  }
}
